* {
    margin: 0;
    padding: 0;
}

.topheader {
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 8px 24px;
}


.emailquiery {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 7px;
    border-right: 1px solid gray;
    color: #fff;
    font-weight: 500;
}

.listServices {
    background-color: #f3ab00;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
    padding: 20px 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    top: 0;
    font-weight: 500;
    color: #fff;
    z-index: 999 !important;
}

.slider {
    z-index: -1 !important;
}

.custom-heading {
    position: absolute;
    right: unset !important;
    bottom: 1.25rem;
    left: 5% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 5%;
}

.custom-btnsign {
    right: unset !important;
    right: 22% !important;
    top: 5%;
    left: unset !important;
}

.custom-btnlogin {
    right: unset !important;
    right: 15% !important;
    top: 5%;
    left: unset !important;
}

.custom-btnlogin button,
.custom-btnsign button {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #fff !important;
    outline: none;
    border: none;
    z-index: 999 !important;
    cursor: pointer;
}

.carousel-item {
    width: 100%;
    height: 400px;
    z-index: -1;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    z-index: -1 !important;

}

.custom-heading h3 {
    color: #f6c044;
}

.carousel-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.sliderSearchContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: unset !important;
    right: unset !important;
    text-align: center !important;
    align-items: center !important;
    width: 100%;
    top: 5%;
}
.carousel-control-prev,.carousel-control-next {
    display: none !important;
}

.sliderSearchContainer h3 {
    font-size: 43px;
}

.Seeworks {
    margin: 10px 0;
}

.Seeworks button {
    padding: 7px 15px;
    background-color: #3E3A3D;
    border: 1px solid #F3AB00;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
}

.sliderSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderSearch input {
    padding: 0 22px;
    border: 3px solid #7C7571;


}
.searchicons {
    left: 2%;
    position: absolute;
    top: 23%;
    color:#686863;
}

.sliderSearch button {
    padding: 0px 22px;
    border: 3px solid #7C7571;
    background-color: #F3AB00;
    color: #FFF;
}


/* our services section  */

.OurServices{
    padding: 30px 0;
}
.main-services{
    display: flex;
    justify-content: center;
    width: 100%;
}